body{
  background-color: #61dafb;
}
.btn {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(52, 96, 9);
  margin: 5px;
  border-radius: 25px;
}

.btn2{
  width: 25%;
  height: 50px;
  margin-left: 490px;
  border-radius: 25px;
}
.count{
  width: 25%;
  height: 50px;
  background-color:black;
  color: gold;
  margin-left: 490px;
  border-radius: 25px;
}
.count1{
  width:auto;
  background-color:black;
  color: gold;
  margin-left: 0px;
  border-radius: 25px;
  font-size: 30px;
}
.ans{
  font-size: 25px;
  color: rgb(76, 243, 240);
}